@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto&display=swap');

html{
	--sidebar-bg: #1d1d1d;
	--sidebar-link: #bdbdbd;
	--sidebar-link-hover: #fff;
	--sidebar-link-selected: #20c997;
	--sidebar-badge-bg: #1d1d1d;
	--sidebar-badge-fg: #bdbdbd;

	--button-solid-fg: #fff;
	--button-solid-bg: #20c997;

	--button-fg: #20c997;
	--button-bg: transparent;

	--alert-fg: #fff;
	--notice: #20c997;
	font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
}


#admin-sidebar{
	background-color: var(--sidebar-bg);
}
#admin-sidebar a {
    color: var(--sidebar-link);
}
#admin-logo{
	background-color: var(--sidebar-bg);
}
#admin-menu li a:hover {
    background: var(--sidebar-bg);
    color: var(--sidebar-link-hover);
}
#admin-menu li.selected a {
    background: var(--sidebar-bg);
    color: var(--sidebar-link-selected);
    border-left: 9px solid var(--sidebar-bg);
}
#admin-menu li.selected a .fa{
    color: var(--sidebar-link-selected);
}
#admin-nav-quick-tray {
    background: var(--sidebar-bg);
    border-bottom: 1px solid var(--sidebar-bg);
    color: var(--sidebar-link);
}
#admin-menu li .badges .count {
    color: var(--sidebar-badge-fg);
    background-color: var(--sidebar-badge-bg);
}
#admin-user-details:hover img, .admin-user-details:hover img {
    box-shadow: none;
}
#admin-user-details, .admin-user-details {
    border-bottom: 1px solid var(--sidebar-bg);
}
#admin-user-details .admin-user-names h4, #admin-user-details .admin-user-names h5, .admin-user-details .admin-user-names h4, .admin-user-details .admin-user-names h5 {
    color: var(--sidebar-link);
}

#admin-main .titlebar .button-bar .button {
    color: var(--button-solid-fg);
    background: var(--button-solid-bg);
}
#admin-main .titlebar .button-bar .button:hover {
    background: var(--button-solid-bg);
    color: var(--button-solid-fg);
}
.button-group .dropdown-menu {
    background-color: var(--button-solid-bg);
}
#admin-main .titlebar .button-bar .button.dropdown-toggle {
    border-left: 1px solid var(--button-solid-fg);
}
.button-group .dropdown-menu li>a:focus:hover, .button-group .dropdown-menu li>a:hover:hover {
    background: var(--button-solid-bg);
}
.button {
    color: #ffffff;
    background: #20c997;
}
.button:hover {
    color: #ffffff;
    background: #20c997;
}
.button.secondary {
    color: rgba(255,255,255,0.85);
    border-radius: 4px;
    background: #20c997;
}
.notice, .note {
    background: var(--notice);
    color: var(--alert-fg);
}
.notice{
    display: none;
}

.info {
    background: var(--notice);
    color: var(--alert-fg);
}
#admin-main #notifications .badge.alert.note {
    background: var(--notice);
    color: var(--alert-fg);
}

.switch-grav.switch-toggle input.highlight:checked+label {
    background: var(--button-solid-bg);
    color: var(--button-solid-fg);
}
#admin-main .form-tabs.side-tabs>.tabs-nav a {
    color: #9E9E9E;
    cursor: pointer;
}
#admin-main .admin-block a:not(.button) {
    color: #000000;
}
.pages-list .row .badge.lang.info {
    background-color: #ffffff;
    color: #9E9E9E;
}
.pages-list .page-icon.modular {
    color: #20c997;
}
.pages-list .page-icon.not-visible {
    color: #9E9E9E;
}
.pages-list .page-icon {
    color: #20c997;
    font-weight: 700;
}
.pages-list .page-icon.not-routable {
    color: #F44336;
}
.info-reverse {
    color: #20c997;
}

.card-item.active-theme {
    border: 1px solid #20c997;
}
.card-item.active-theme .gpm-actions {
    background: #20c997;
    color: #fff;
}

#admin-topbar .switch-toggle input.highlight:checked+label {
    background: #20c997;
}
#admin-topbar #admin-lang-toggle button {
    color: rgba(255,255,255,0.85);
    border-radius: 4px;
    background: #9E9E9E;
    transition: all 0.2s;
}
#admin-topbar #admin-lang-toggle button:hover {
    background: #20c997;
    color: #fff;
}
.cm-s-paper .cm-atom {
    color: #F44336;
}
.cm-s-paper .cm-string {
    color: #607D8B;
}
.cm-s-paper .cm-link {
    color: #009688;
}

#footer {
    font-size: xx-small;
    color: #9E9E9E;
    text-align: right;
}

#admin-dashboard .primary-accent {
    background-color: #0078b5;
    background-image: -webkit-linear-gradient(#0078b5,#0090D9);
    background-image: linear-gradient(#058379,#20c997);
}
.primary-accent .button-bar {
    background: #058379;
}
#admin-dashboard .secondary-accent {
    background-color: #058379;
    background-image: -webkit-linear-gradient(#058379,#06A599);
    background-image: linear-gradient(#058379,#20c997);
}

.secondary-accent .button {
    color: rgba(255,255,255,0.85);
    border-radius: 4px;
    background: #20c997;
}
.secondary-accent .button.dropdown-toggle {
    border-left: 1px solid #058379;
}

.secondary-accent .button-group .dropdown-menu {
    background: #20c997;
}

#notifications, #news-feed {
    font-family: courier !important;
}

