.fadeinfromtop {
	opacity: 0;
	animation-name: fadeinfromtop;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: var(--transition-timing-1);
}
@keyframes fadeinfromtop {
	from {opacity: 0; transform: translateY(-30px);}
	to {opacity: 1;}
}

.fadeouttobottom {
	animation-name: fadeouttobottom;
	animation-duration: 0.2s;
	animation-timing-function: var(--transition-timing-1);
}
@keyframes fadeouttobottom {
	from {opacity: 1; transform: translateY(0px);}
	to {opacity: 0; transform: translateY(10px);}
}

.scalein {
	animation-name: scalein;
	animation-iteration-count: 1;
	animation-duration: 0.2s;
	animation-timing-function: var(--transition-timing-1);
}
@keyframes scalein {
	from {opacity: 0; transform: scale3d(1.1,1.1,1)}
	to {opacity: 1; transform: scale3d(1,1,1)}
}
