/*
###########################################################
COLLECTION
###########################################################
*/

/* .page--article-collection{} */

.article-collection__title{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: var(--width-tight, 635px);
	text-align: center;
}

.article-collection__intro{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: var(--width-tight, 635px);
}

/* .article-collection__list{} */





/*
###########################################################
CARD
###########################################################
*/

/* .article-card{} */
/* .article-card__link{} */





/*
###########################################################
ARTICLE
###########################################################
*/

/* .page--article{} */

.article__header{
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--gutter, 1rem);
	max-width: 635px;
	max-width: var(--width-tight, 635px);
	text-align: left;
}
@media (min-width: 735px){
	.article__header{
		text-align: center;
	}
}



.article__title{
	margin-top: 1rem;
}

.article__date{
	margin-top: 1rem;
}

.article__content{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: 635px;
	max-width: var(--width-tight, 635px);
}

.article__img{
	max-width: var(--site, 1400px);
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 735px){
	.article__img{
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}
}

.article__img-caption{
	margin-top: 0.5rem;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	font-family: var(--font-base-italic);
}
@media (min-width: 735px){
	.article__img-caption{
		padding-left: 0;
		padding-right: 0;
	}
}

/* .article__category{} */

.article__tag{
	display: inline-block;
	margin-top: 1px;
	margin-right: 1px;
	padding: 2px 4px;
	border-radius: 4px;
	background-color: var(--bg-color-alt);
	color: var(--fg-color-alt);
}