/*
###########################################################
COLLECTION
###########################################################
*/

/* .page--article-collection{} */

.article-collection__title{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: var(--width-tight, 635px);
	text-align: center;
}

.article-collection__intro{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: var(--width-tight, 635px);
}

/* .article-collection__list{} */





/*
###########################################################
CARD
###########################################################
*/

/* .article-card{} */
/* .article-card__link{} */





/*
###########################################################
ARTICLE
###########################################################
*/

/* .page--article{} */

.article__header{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: 635px;
	max-width: var(--width-tight, 635px);
	text-align: left;
}
@media (min-width: 735px){
	.article__header{
		text-align: center;
	}
}

/* .article__title{} */

.article__date{
	margin-top: 1rem;
}

.article__content{
	margin: 3rem auto;
	padding: 0 var(--gutter, 1rem);
	max-width: 635px;
	max-width: var(--width-tight, 635px);
}

.article__img{
	max-width: var(--site, 1400px);
	margin: 3rem auto;
}
@media (min-width: 735px){
	.article__img{
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}
}

.article__img-caption{
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	font-size: 12px;;
}
@media (min-width: 735px){
	.article__img-caption{
		padding-left: 0;
		padding-right: 0;
	}
}