a {
	color: var(--bg-color-alt);
	text-decoration: none;
	cursor: pointer;
}

.btn {
	display: inline-block;
	/*margin-right: 0.7rem;*/
	/*margin-bottom: 1rem;*/
	cursor: pointer;
	transition: all 0.2s;
}

.btn + .btn{
	margin-left: 0.7rem;
}

br + .btn{
	margin-top: 1rem;
}

.btn.btn--solid>a {
	display: flex;
    background: var(--bg-color-alt);
    color: var(--fg-color-alt);
    border-radius: 4px;
    padding: 7px 20px;
}

.btn.btn--solid .material-icons {
	padding-left: 7px;
}

.btn.btn--solid:hover{
	transform: translateY(-2px);
	box-shadow: var(--shadow-1);
}

.btn.btn--solid:active{
	transform: translateY(-1px);
}

.btn.btn--link>a {
	display: flex;
}

.btn .material-icons{
	line-height: 1.2;
}

.btn.btn--link .material-icons {
	padding-left: 5px;
	transition: all 0.2s;
}

.btn.btn--link:hover .material-icons {
	transform: translateX(5px);
}


