.modular--content {
	max-width: 100vw;
}

.modular--content twitter-widget{
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.modular--content iframe.instagram-media{
	margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.modular--content form{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.modular--content .content__ctn>.site{
	padding: 0;
}

.modular--content blockquote>p{
	max-width: none;
	margin-top: 0;
	margin-bottom: 0;
}

.modular--content h1{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.modular--content img{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	margin-bottom: 3rem;
	margin-top: 3rem;
	overflow: hidden;
}

.modular--content figure.image-caption figcaption {
	text-align: center;
    opacity: 0.7;
    font-size: 90%;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.modular--content video{
	margin-right: auto;
	margin-left: auto;
	max-width: var(--width-site);
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	overflow: hidden;
}

.modular--content pre code{
	max-width: var(--width-tight);
	margin: 2rem auto;
    display: block;
    overflow-x: auto;
}

.content--left{
	text-align: left;
}
.content--center{
	text-align: center;
}
.content--right{
	text-align: right;
}

/*Kaltura video*/
.kWidgetIframeContainer{margin: 2rem auto;}

.modular--content .content__ctn > .tight,
.modular--content .content__ctn > .site{
	padding-left: 0;
	padding-right: 0;
}
