/*DEFAULT*/
.delay-0{animation-delay: 0s;}
.delay-100{animation-delay: 0.1s;}
.delay-150{animation-delay: 0.15s;}
.delay-200{animation-delay: 0.2s;}
.delay-250{animation-delay: 0.25s;}
.delay-300{animation-delay: 0.3s;}
.delay-350{animation-delay: 0.35s;}
.delay-400{animation-delay: 0.4s;}
.delay-450{animation-delay: 0.45s;}
.delay-500{animation-delay: 0.5s;}
.delay-1000{animation-delay: 1s;}
.delay-1500{animation-delay: 1.5s;}
.delay-2000{animation-delay: 2s;}
