.animation-delay-0{-webkit-animation-delay: 0s;animation-delay: 0s;}
.animation-delay-100{-webkit-animation-delay: 0.1s;animation-delay: 0.1s;}
.animation-delay-150{-webkit-animation-delay: 0.15s;animation-delay: 0.15s;}
.animation-delay-200{-webkit-animation-delay: 0.2s;animation-delay: 0.2s;}
.animation-delay-250{-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}
.animation-delay-300{-webkit-animation-delay: 0.3s;animation-delay: 0.3s;}
.animation-delay-350{-webkit-animation-delay: 0.35s;animation-delay: 0.35s;}
.animation-delay-400{-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
.animation-delay-450{-webkit-animation-delay: 0.45s;animation-delay: 0.45s;}
.animation-delay-500{-webkit-animation-delay: 0.5s;animation-delay: 0.5s;}
.animation-delay-1000{-webkit-animation-delay: 1s;animation-delay: 1s;}
.animation-delay-1500{-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
.animation-delay-2000{-webkit-animation-delay: 2s;animation-delay: 2s;}
.animation-delay-2500{-webkit-animation-delay: 2.5s;animation-delay: 2.5s;}
.animation-delay-3000{-webkit-animation-delay: 3s;animation-delay: 3s;}
.animation-delay-4000{-webkit-animation-delay: 4s;animation-delay: 4s;}
.animation-delay-5000{-webkit-animation-delay: 5s;animation-delay: 5s;}
.animation-delay-10000{-webkit-animation-delay: 10s;animation-delay: 10s;}

.transition-delay-0{-webkit-transition-delay: 0s;-o-transition-delay: 0s;transition-delay: 0s;}
.transition-delay-100{-webkit-transition-delay: 0.1s;-o-transition-delay: 0.1s;transition-delay: 0.1s;}
.transition-delay-150{-webkit-transition-delay: 0.15s;-o-transition-delay: 0.15s;transition-delay: 0.15s;}
.transition-delay-200{-webkit-transition-delay: 0.2s;-o-transition-delay: 0.2s;transition-delay: 0.2s;}
.transition-delay-250{-webkit-transition-delay: 0.25s;-o-transition-delay: 0.25s;transition-delay: 0.25s;}
.transition-delay-300{-webkit-transition-delay: 0.3s;-o-transition-delay: 0.3s;transition-delay: 0.3s;}
.transition-delay-350{-webkit-transition-delay: 0.35s;-o-transition-delay: 0.35s;transition-delay: 0.35s;}
.transition-delay-400{-webkit-transition-delay: 0.4s;-o-transition-delay: 0.4s;transition-delay: 0.4s;}
.transition-delay-450{-webkit-transition-delay: 0.45s;-o-transition-delay: 0.45s;transition-delay: 0.45s;}
.transition-delay-500{-webkit-transition-delay: 0.5s;-o-transition-delay: 0.5s;transition-delay: 0.5s;}
.transition-delay-1000{-webkit-transition-delay: 1s;-o-transition-delay: 1s;transition-delay: 1s;}
.transition-delay-1500{-webkit-transition-delay: 1.5s;-o-transition-delay: 1.5s;transition-delay: 1.5s;}
.transition-delay-2000{-webkit-transition-delay: 2s;-o-transition-delay: 2s;transition-delay: 2s;}
.transition-delay-2500{-webkit-transition-delay: 2.5s;-o-transition-delay: 2.5s;transition-delay: 2.5s;}
.transition-delay-3000{-webkit-transition-delay: 3s;-o-transition-delay: 3s;transition-delay: 3s;}
.transition-delay-4000{-webkit-transition-delay: 4s;-o-transition-delay: 4s;transition-delay: 4s;}
.transition-delay-5000{-webkit-transition-delay: 5s;-o-transition-delay: 5s;transition-delay: 5s;}
.transition-delay-10000{-webkit-transition-delay: 10s;-o-transition-delay: 10s;transition-delay: 10s;}
