.animation-duration-0{-webkit-animation-duration: 0;animation-duration: 0;}
.animation-duration-100{-webkit-animation-duration: 0.1s;animation-duration: 0.1s;}
.animation-duration-150{-webkit-animation-duration: 0.15s;animation-duration: 0.15s;}
.animation-duration-200{-webkit-animation-duration: 0.2s;animation-duration: 0.2s;}
.animation-duration-250{-webkit-animation-duration: 0.25s;animation-duration: 0.25s;}
.animation-duration-300{-webkit-animation-duration: 0.3s;animation-duration: 0.3s;}
.animation-duration-350{-webkit-animation-duration: 0.35s;animation-duration: 0.35s;}
.animation-duration-400{-webkit-animation-duration: 0.4s;animation-duration: 0.4s;}
.animation-duration-450{-webkit-animation-duration: 0.45s;animation-duration: 0.45s;}
.animation-duration-500{-webkit-animation-duration: 0.5s;animation-duration: 0.5s;}
.animation-duration-1000{-webkit-animation-duration: 1s;animation-duration: 1s;}
.animation-duration-1500{-webkit-animation-duration: 1.5s;animation-duration: 1.5s;}
.animation-duration-2000{-webkit-animation-duration: 2s;animation-duration: 2s;}
.animation-duration-2500{-webkit-animation-duration: 2.5s;animation-duration: 2.5s;}
.animation-duration-3000{-webkit-animation-duration: 3s;animation-duration: 3s;}
.animation-duration-4000{-webkit-animation-duration: 4s;animation-duration: 4s;}
.animation-duration-5000{-webkit-animation-duration: 5s;animation-duration: 5s;}
.animation-duration-10000{-webkit-animation-duration: 10s;animation-duration: 10s;}

.transition-duration-0{-webkit-transition-duration: 0;-o-transition-duration: 0;transition-duration: 0;}
.transition-duration-100{-webkit-transition-duration: 0.1s;-o-transition-duration: 0.1s;transition-duration: 0.1s;}
.transition-duration-150{-webkit-transition-duration: 0.15s;-o-transition-duration: 0.15s;transition-duration: 0.15s;}
.transition-duration-200{-webkit-transition-duration: 0.2s;-o-transition-duration: 0.2s;transition-duration: 0.2s;}
.transition-duration-250{-webkit-transition-duration: 0.25s;-o-transition-duration: 0.25s;transition-duration: 0.25s;}
.transition-duration-300{-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;}
.transition-duration-350{-webkit-transition-duration: 0.35s;-o-transition-duration: 0.35s;transition-duration: 0.35s;}
.transition-duration-400{-webkit-transition-duration: 0.4s;-o-transition-duration: 0.4s;transition-duration: 0.4s;}
.transition-duration-450{-webkit-transition-duration: 0.45s;-o-transition-duration: 0.45s;transition-duration: 0.45s;}
.transition-duration-500{-webkit-transition-duration: 0.5s;-o-transition-duration: 0.5s;transition-duration: 0.5s;}
.transition-duration-1000{-webkit-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s;}
.transition-duration-1500{-webkit-transition-duration: 1.5s;-o-transition-duration: 1.5s;transition-duration: 1.5s;}
.transition-duration-2000{-webkit-transition-duration: 2s;-o-transition-duration: 2s;transition-duration: 2s;}
.transition-duration-2500{-webkit-transition-duration: 2.5s;-o-transition-duration: 2.5s;transition-duration: 2.5s;}
.transition-duration-3000{-webkit-transition-duration: 3s;-o-transition-duration: 3s;transition-duration: 3s;}
.transition-duration-4000{-webkit-transition-duration: 4s;-o-transition-duration: 4s;transition-duration: 4s;}
.transition-duration-5000{-webkit-transition-duration: 5s;-o-transition-duration: 5s;transition-duration: 5s;}
.transition-duration-10000{-webkit-transition-duration: 10s;-o-transition-duration: 10s;transition-duration: 10s;}
