/*##################################################*/
/*DEPRECATED - USED PROPERTY PREFIXED CLASS INSTEAD*/
.duration-0{animation-duration: 0;}
.duration-100{animation-duration: 0.1s;}
.duration-150{animation-duration: 0.15s;}
.duration-200{animation-duration: 0.2s;}
.duration-250{animation-duration: 0.25s;}
.duration-300{animation-duration: 0.3s;}
.duration-350{animation-duration: 0.35s;}
.duration-400{animation-duration: 0.4s;}
.duration-450{animation-duration: 0.45s;}
.duration-500{animation-duration: 0.5s;}
.duration-1000{animation-duration: 1s;}
.duration-1500{animation-duration: 1.5s;}
.duration-2000{animation-duration: 2s;}
.duration-2500{animation-duration: 2.5s;}
.duration-3000{animation-duration: 3s;}
.duration-4000{animation-duration: 4s;}
.duration-5000{animation-duration: 5s;}
/*##################################################*/

.animation-duration-0{animation-duration: 0;}
.animation-duration-100{animation-duration: 0.1s;}
.animation-duration-150{animation-duration: 0.15s;}
.animation-duration-200{animation-duration: 0.2s;}
.animation-duration-250{animation-duration: 0.25s;}
.animation-duration-300{animation-duration: 0.3s;}
.animation-duration-350{animation-duration: 0.35s;}
.animation-duration-400{animation-duration: 0.4s;}
.animation-duration-450{animation-duration: 0.45s;}
.animation-duration-500{animation-duration: 0.5s;}
.animation-duration-1000{animation-duration: 1s;}
.animation-duration-1500{animation-duration: 1.5s;}
.animation-duration-2000{animation-duration: 2s;}
.animation-duration-2500{animation-duration: 2.5s;}
.animation-duration-3000{animation-duration: 3s;}
.animation-duration-4000{animation-duration: 4s;}
.animation-duration-5000{animation-duration: 5s;}

.transition-duration-0{transition-duration: 0;}
.transition-duration-100{transition-duration: 0.1s;}
.transition-duration-150{transition-duration: 0.15s;}
.transition-duration-200{transition-duration: 0.2s;}
.transition-duration-250{transition-duration: 0.25s;}
.transition-duration-300{transition-duration: 0.3s;}
.transition-duration-350{transition-duration: 0.35s;}
.transition-duration-400{transition-duration: 0.4s;}
.transition-duration-450{transition-duration: 0.45s;}
.transition-duration-500{transition-duration: 0.5s;}
.transition-duration-1000{transition-duration: 1s;}
.transition-duration-1500{transition-duration: 1.5s;}
.transition-duration-2000{transition-duration: 2s;}
.transition-duration-2500{transition-duration: 2.5s;}
.transition-duration-3000{transition-duration: 3s;}
.transition-duration-4000{transition-duration: 4s;}
.transition-duration-5000{transition-duration: 5s;}