form{
	position: relative;
	margin-top: var(--rythm);
	margin-bottom: var(--rythm);
	max-width: var(--width-tight);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

@media (min-width: 735px) {
	form{
		padding-left: 0;
		padding-right: 0;
	}
}

.form-field{
	margin-top: 1rem;
}

form .required{
	color: #F44336;
}

form .form-label{

}





/*
###########################################################
INPUTS & TEXTAREA
###########################################################
*/

form input,
form select{
	width: 100%;
	height: 3rem;
	border-radius: 5px;
	font-family: 'courier', sans-serif;
	border: solid #e6e6e6 2px;
	background-color: var(--bg-color);
	padding: 10px;
	transition: all 0.2s;
}

form textarea{
	font-family: 'courier', sans-serif;
	width: 100%;
	height: 150px;
	max-width: 100%;
	min-width: 100%;
	border-radius: 5px;
	border: solid #e6e6e6 2px;
	padding: 10px;
	transition: border-color 0.2s;
}

form input:focus,
form select:focus,
form textarea:focus{
	outline: none;
	border: solid var(--bg-color-alt) 2px;
}





/*
###########################################################
BUTTONS
###########################################################
*/

form button{
	width: 100%;
	padding: 10px 35px;
	height: 3rem;
	background-color: var(--bg-color-alt);
	color: var(--fg-color-alt);
	font-size: 16px;
	margin-top: 2rem;
	border-radius: 4px;
	border: 0;
	transition: all 0.2s;
	cursor: pointer;
}

form button:hover,
form button:focus {
	outline: none;
	box-shadow: var(--shadow-2);
	transform: translateY(-2px);
}

form button:active {
	box-shadow: var(--shadow-1);;
	transform: translateY(0px);
	transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}





/*
###########################################################
CHECKBOXES & RADIO
###########################################################
*/

.form-field [data-grav-field="checkboxes"] .checkboxes,
.form-field [data-grav-field="radio"] .radio{
	display: flex;
	padding-top: 0.5rem;
}

.form-field [data-grav-field="checkboxes"] input[type="checkbox"],
.form-field [data-grav-field="checkbox"] input[type="checkbox"],
.form-field [data-grav-field="radio"] input[type="radio"] {
    display: none;
}

.form-field [data-grav-field="checkbox"]{
	margin-top: -28px;
	margin-bottom: 1rem;	
}

.form-field [data-grav-field="checkboxes"] label,
.form-field [data-grav-field="checkbox"] label,
.form-field [data-grav-field="radio"] label {
    position: relative;    
    padding-left: 30px;
}

.form-field [data-grav-field="checkboxes"] label::before,
.form-field [data-grav-field="checkboxes"] label::after,
.form-field [data-grav-field="checkbox"] label::before,
.form-field [data-grav-field="checkbox"] label::after,
.form-field [data-grav-field="radio"] label::before,
.form-field [data-grav-field="radio"] label::after {
    position: absolute;
    content: "";
}

.form-field [data-grav-field="checkboxes"] label::before,
.form-field [data-grav-field="checkbox"] label::before,
.form-field [data-grav-field="radio"] label::before {
    height: 20px;
    width: 20px;
    border: solid #e6e6e6 2px;
    left: 0px;
    border-radius: 5px;
    background-color: #fff;
}

.form-field [data-grav-field="radio"] label::before {
    border-radius: 50%;
}

.form-field [data-grav-field="checkboxes"] label::after,
.form-field [data-grav-field="checkbox"] label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg) translate(2px, 2px);
    left: 4px;
    top: 7px;
    color: var(--fg-color-alt);
}

.form-field [data-grav-field="checkbox"] label::after {
    top: 4px;
}

.form-field [data-grav-field="radio"] label::after {
    height: 6px;
    width: 6px;
    background-color: var(--fg-color-alt);
    left: 9px;
    top: 9px;
    border-radius: 50%;
}

.form-field [data-grav-field="checkboxes"] input[type="checkbox"] + label::after,
.form-field [data-grav-field="checkbox"] input[type="checkbox"] + label::after,
.form-field [data-grav-field="radio"] input[type="radio"] + label::after {
    opacity: 0;
    transition: opacity 0.2s;
}

.form-field [data-grav-field="checkboxes"] input[type="checkbox"]:checked + label::after,
.form-field [data-grav-field="checkbox"] input[type="checkbox"]:checked + label::after,
.form-field [data-grav-field="radio"] input[type="radio"]:checked + label::after {
    opacity: 1;
}

.form-field [data-grav-field="checkboxes"] input[type="checkbox"]:checked + label::before,
.form-field [data-grav-field="checkbox"] input[type="checkbox"]:checked + label::before,
.form-field [data-grav-field="radio"] input[type="radio"]:checked + label::before
 {
    background-color: var(--bg-color-alt);
}





/*
###########################################################
LOADER
###########################################################
*/

.form-loader{
	display: none;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);						
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path fill="currentColor" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
}
