.modular--grid{}

.grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: calc(var(--gutter)*-2);
	margin-top: calc(var(--gutter)*-2);
}

.grid__item{
	margin-left: var(--gutter);
	margin-top: var(--gutter);
	position: relative;
	padding: var(--gutter);
	background-color: var(--bg-color);
	color: var(--fg-color);
	width: calc(var(--item-width-portrait) - (var(--gutter)*2));
}

@media (min-width: 735px) {
	.grid__item{
		width: calc(var(--item-width-landscape) - (var(--gutter)*2));
	}
}

.grid__item *:first-child {margin-top: 0;}
.grid__item *:last-child {margin-bottom: 0;}

.grid .site,
.grid .full,
.grid .tight{
	width: auto;
	margin-left: 0;
    margin-right: 0;
}

.grid__item__content--h-align-left .grid__item__content{
	text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid__item__content--h-align-center .grid__item__content{
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid__item__content--h-align-right .grid__item__content{
	text-align: right;
    display: flex;
    flex-direction: column;
   	align-items: flex-end;
}

.grid__item--v-align-start .grid__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid__item--v-align-center .grid__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid__item--v-align-end .grid__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid__item h1,
.grid__item h2,
.grid__item h3,
.grid__item h4,
.grid__item h5,
.grid__item h6,
.grid__item p,
.grid__item img,
.grid__item video,
.grid__item iframe{
	margin-top: 1rem;
	margin-bottom: 0;
	max-width: 100%;
	padding: 0 0;
}

.grid__item .btn{
	margin-top: 1rem;
	margin-bottom: 0;
}