.hero{
	color: var(--fg-color);
	position: relative;
	z-index: 1000;
}

.hero .hero__ctn{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.hero .hero__content {
	overflow: visible;
	width: 50%;
	padding-right: 3rem;
}

.hero .reverse .hero__content {
	padding-left: 3rem;
	padding-right: 0;
}


.hero .hero__content *:first-child {margin-top: 0;}
.hero .hero__content *:last-child {margin-bottom: 0;}

.hero .hero__content blockquote,
.hero .hero__content ul{
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.hero .hero__media{
    overflow: hidden;
    width: 50%;
}

.hero .hero__media video,
.hero .hero__media img{
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius-1);
	width: 100%;
}

@media (max-width: 735px){
	.hero .hero__ctn{
		flex-direction: column-reverse;
	}

	.hero .hero__content{
		width: 100%;
		padding-top: 2rem;
		padding-left: 0;
		padding-right: 0;
	}

	.hero .hero__media{
		width: 100%;
	}
}

.reverse {}
@media (min-width: 735px){
	.hero .reverse{
		flex-direction: row-reverse;
	}
}