.marquee{
	/*display: none;*/
	color: var(--color-fg);
	background-color: var(--color-bg);
	position: relative;
	width: 100%;
	text-align:center;
	padding: 5px 0;
	font-size: small;
	z-index: 5000;
}
.marquee p{
	margin: 0;
	line-height: 1.4;
	padding: 3px 25px;
}

.marquee a{
	text-decoration: underline;
	text-decoration-style: dotted;
	color: inherit;
}

.marquee .close{
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 16px;
	cursor: pointer;
}