.video__ctn{
	margin-right: auto;
	margin-left: auto;
	max-width: var(--width-site);
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	overflow: hidden;
}

.video__video{
	width: 100%;
}
