.modular{
	position: relative;
	margin: 0;
	background-color: var(--bg-color);
	color: var(--fg-color);
	z-index: 1000;
}

.m-t{margin-top: var(--rhythm);}
.m-b{margin-bottom: var(--rhythm);}
.m-tb{margin-top: var(--rhythm);margin-bottom: var(--rhythm);}
.m-t_2{margin-top: calc(var(--rhythm)/2)};

.p-t{padding-top: var(--rhythm);}
.p-b{padding-bottom: var(--rhythm);}
.p-tb{padding-top: var(--rhythm);padding-bottom: var(--rhythm);}

.r-default{}
.r-header{margin-top: calc(var(--nav-height)*-1);}