.module--content {
	max-width: 100vw;
}

.module--content twitter-widget{
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.module--content iframe.instagram-media{
	margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.module--content form{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.module--content .content__ctn>.site{
	padding: 0;
}

.module--content blockquote>p{
	max-width: none;
	margin-top: 0;
	margin-bottom: 0;
}

.module--content h1{
	margin-top: 3rem;
}

.module--content img{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	margin-bottom: 1rem;
	overflow: hidden;
}

.module--content figure.image-caption figcaption {
	text-align: center;
    opacity: 0.7;
    font-size: 90%;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.module--content video{
	margin-right: auto;
	margin-left: auto;
	max-width: var(--width-site);
	width: 100%;
	margin-bottom: 2rem;
	overflow: hidden;
}

.content__ctn{
	width: 100%;
	max-width: var(--width-site);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.content--left>*,
.content--left>*>*,
.content--left>*>*>*{
	margin-right: auto;
}
.content--center>*,
.content--center>*>*,
.content--center>*>*>*{
	margin-left: auto;
	margin-right: auto;
}
.content--right>*,
.content--right>*>*,
.content--right>*>*>*{
	margin-left: auto;
}
