.notify{
    position: fixed;
    right: 1rem;
    bottom: 30px;
    left: 1rem;
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--bg-color-alt);
    color: var(--fg-color-alt);
    box-shadow: var(--shadow-2);
    transition: all 0.2s;
    z-index: 2000;
}

.notify *:first-child {margin-top: 0;}
.notify *:last-child {margin-bottom: 0;}

.notify-done{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.7;
    color: white;
    cursor: pointer;
}

.notify-in {
    opacity: 0;
    animation-name: reveal;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.notify-out {
    opacity: 1;
    animation-name: fadeouttobottom;
    animation-delay: 0.1s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
