.page--product{}

.product__wrapper{
    max-width: var(--width-tight);
    padding: 0 var(--gutter);
    margin: 0 auto;
}

.product__gallery{
  width: 100%;
}

.product__gallery .swiper-slide {
  width: 100%;
  height: 100%;
}

.product__gallery .swiper-slide:after{
  content: "";
  display: block;
  padding-bottom: 100%; 
}

.product__gallery img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product__gallery .swiper-scrollbar {
    left: 20px;
    bottom: 20px;
    width: auto;
    right: 20px;
}

.product__image{
	width: 100%;
	margin:0 auto;
}

.product__info{
  margin-top: 0;
  align-self: stretch;
}

.product__info__title{
  margin-top: 1rem;
  margin-bottom: 0;
}

.product__info__price{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.product__info__add{
  margin: 0;
  width: 100%;
}

.product__info__add>a{
  justify-content: center;
}

@media (min-width: 735px){
  .product__wrapper{
    max-width: var(--width-site);
    margin: 0 auto;
    display: flex;
  }

  .product__media{
    width: 50%;
    align-self: stretch;
  }

  .product__gallery{
    position: sticky !important;
    top: 1rem;
  }

  .product__info{
    width: 50%;
    padding: 0 3rem 0 3rem;
  }

  .product__info__title{
    margin-top: 0;
  }
}

.product__modular{
  margin-bottom: var(--rhythm);
}
