.page--product{
    max-width: var(--width-tight);
    padding: 0 var(--gutter);
}

@media (min-width: 735px){
  .page--product{
    max-width: var(--width-site);
    margin: 0 auto;
    display: flex;
  }

  .media-ctn{
    width: 50%;
    height: 100%;
    align-self: stretch;
  }

  .product-gallery{
    position: sticky !important;
    top: 1rem;
  }

  .description-ctn{
    width: 50%;
    padding: 0 3rem 0 3rem;
  }
}

.product-gallery {
  width: 100%;
  /*height: 500px;*/
  height: 100vw;
}

@media (min-width: 550px) {
    .product-gallery{
        height: 650px;
    }
}

.product-gallery .swiper-slide {
  width: 100%;
  height: 100%;
}

.product-gallery img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-gallery > .swiper-scrollbar {
    left: 20px;
    bottom: 20px;
    width: auto;
    right: 20px;
}

.product-image{
	width: 100%;
	margin:0 auto;
}

.product-atc__wrapper{
  position: sticky;
  top: 0;
  z-index: 1001;
}
.product-atc{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bg-color);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

}

.product-atc__btn{
  margin-right: 0;
  margin-bottom: 0;
}

.product-atc__price{
	font-family: var(--font-alt);
	padding-left: 1rem;
	float: right;
}


.product-title{
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-description{
	margin-top: 0;
}
