.page__product{

}

.product__image{
	width: 100%;
	max-width: var(--width-tight);
	margin:0 auto;
}

.product__buy{
  position: sticky;
  top: 0;
  z-index: 1001;
  display: flex;
  margin: 1rem auto;
  max-width: var(--width-tight);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product__price{
	font-family: var(--font-alt);
	padding-left: 1rem;
	float: right;
}

.product__btn{
	margin-right: 0;
  margin-bottom: 0;
}

.product__price--sup{
    font-size: 16px;
}

.product__content{
	margin-top: 2rem;
}

.product-gallery-thumbs {
  width: 100%;
  max-width: var(--width-tight);
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px 0;
  height: 6rem;
}

.product-gallery-top {
  width: 100%;
  height: 100%;
}

.product-gallery-top .swiper-slide {
  width: 100%;
  height: 100%;
}

.product-gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
  position: relative;

}

.product-gallery-thumbs .swiper-slide img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}