#snipcart{
	z-index: 9000;
	position: absolute;
}

.product{

}

.product__image{
	width: 100%;
	border-radius: var(--radius-1);
}

.product__price{
	font-family: var(--font-alt);
	margin-top: 2rem;
	margin-bottom: 2rem;
    font-size: 2em;
}


.product__price--sup{
    font-size: 16px;
}

.product__buy{
	display: block !important;
	margin: 2rem auto;
}
