/*
###########################################################
PRODUCT
###########################################################
*/

.page--product{
  margin-top: var(--gutter);
}

.product__wrapper{
  max-width: var(--width-tight);
  padding: 0 var(--gutter);
  margin: 0 auto;
}
@media (min-width: 735px){
  .product__wrapper{
    max-width: var(--width-site);
    margin: 0 auto;
    display: flex;
  }
}

/*.product__gallery-ctn{}*/
@media (min-width: 735px){
  .product__gallery-ctn{
    width: 50%;
    align-self: stretch;
  }
}

.product__gallery{
  width: 100%;
}
@media (min-width: 735px){
  .product__gallery{
    position: sticky !important;
    top: 1rem;
  }
}

.product__gallery .swiper-slide {
  width: 100%;
  height: 100%;
}

.product__gallery .swiper-slide:after{
  content: "";
  display: block;
  padding-bottom: 100%; 
}

.product__gallery img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product__gallery .swiper-pagination-bullet{
    width: 50px;
    height: 3px;
    background-color: black;
    border-radius: 0;
    opacity: 0.3;
}

.product__gallery .swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity: 1;
}

.product__image{
	width: 100%;
	margin:0 auto;
}

.product__info{
  margin-top: 2rem;
  align-self: stretch;
}
@media (min-width: 735px){
  .product__info{
    width: 50%;
    margin-top: 0;
    padding: 0 3rem 0 3rem;
  }
}

h1.product__title{
  margin-top: 0;
}

.product__price{
  font-size: 1.2em;
}

.product__add{
  margin: 2rem 0 0 0;
  width: 100%;
}

.product__add>a{
  justify-content: center;
}





/*
###########################################################
COLLECTION
###########################################################
*/

/*.page--product-collection{}*/

.product-collection__title{
  margin: 3rem auto;
  padding: 0 var(--gutter);
  max-width: var(--width-tight);
  text-align: center;
}

.product-collection__intro{
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--gutter);
  max-width: var(--width-tight);
  text-align: center;
}

.product-collection__grid-ctn{
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  max-width: var(--width-site);
}

.product-collection__grid{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: calc(-1 * var(--gutter));
  margin-left: calc(-1 * var(--gutter));
}





/*
###########################################################
CARD 
###########################################################
*/
.product-card{
  position: relative;
  margin-top: var(--gutter);
  margin-left: var(--gutter);
  width: calc(50% - var(--gutter));
  overflow: hidden;
  transition: all 0.2s;
  border-bottom: 1px solid #ececec;
  padding-bottom: 1rem;
}
@media (min-width: 735px){
  .product-card{
    width: calc(33.333% - var(--gutter));
  }
}

.product-card__link{
  color: var(--fg-color);
}

.product-card__image{
  position: relative;
}

.product-card__image:before{
  content: "";
  display: block;
  padding-bottom: 100%; 
}

.product-card__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card__info{
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0.5rem;
  max-width: 90%;
}
@media (min-width: 735px){
  .product-card__info{
    margin-top: 0.5rem;
    max-width: 60%;
  }
}

/*.product-card__title{}*/

.product-card__price{
  opacity: 0.5;
}

.product-card:hover{
  transform: translateY(-2px);
}
.product-card:active{
  transform: translateY(-1px);
}
