#snipcart{
	z-index: 9000;
	position: absolute;
}

.page__product{

}

.product__image{
	width: 100%;
	border-radius: var(--radius-1);
}

.product__buy{
	margin: 2rem auto;
}

.product__price{
	font-family: var(--font-alt);
	padding-left: 1rem;
}

.product__price--sup{
    font-size: 16px;
}

.product__content{
	margin-top: 2rem;
}

