.unrevealed {
	transition: all;
	opacity:0;
	transform: translateY(75px);
}

.reveal {
	transition: all;	
	opacity: 1;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}