footer{
	/*border-top: solid 1px grey;*/
	position: relative;
	margin-top: var(--rythm);
}

footer .copyright{
	font-size: x-small;
	text-align: center;
	opacity: 0.5;

}

footer .green-hosting-badge{
	width: 100px;
    display: block;
    margin: 0 auto;    
}
