/*
dependencies
	- site-loader.js
	- site-loader.css
*/
#site-loader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4000;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}