#site-loader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4999;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 735px) {
	#site-loader .placeholder{
		display: none;
	}
}

#site-loader .placeholder{
	position: relative;
	opacity: 0;
	animation-name: placeholder;
	animation-duration: 2s;
	animation-delay: 0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#site-loader .placeholder img{
	width: 100%;
}

@keyframes placeholder{
	0% {opacity: 0; transform: translateY(50px);}
	30% {opacity: 0.5; transform: translateY(0);}
	60% {opacity: 0.5; transform: translateY(0);}
	100% {opacity: 0; transform: translateY(-50px);}
}

body.loaded #site-loader{
	transition: all 0.2s; 
	opacity: 0;
	visibility: hidden;
}