/*
dependencies
	- slow3g.js
	- slow3g.html.twig
*/

.slow3g{
	position: relative;
	z-index: 99998;
}

.slow3g>div{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	color: var(--fg-color);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.80);
}

.slow3g .text{
	font-weight: bold;
}

.slow3g .action{
	color: #2196f3;
	cursor: pointer;
	font-size: small;
}
