.module--splash{}

.splash__ctn{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: var(--rythm);
	padding-bottom: var(--rythm);
	min-height: 100vh;
	overflow: hidden;
}

.splash__image,
.splash__video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	z-index: 1001;
	border-radius: 0;
}

.splash__veil{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #313131;
	z-index: 1002;
}

.splash__content{
	z-index: 1003
}

.content-ctn h1{
    margin-bottom: 1rem;
}

@media (min-width: 735px) {
	.splash__content h1{
		font-size: 100px;
	    line-height: 80px;
	    margin-bottom: 2rem;
	}
}

@media (min-width: 1300px) {
	.splash__content h1{
		font-size: 200px;
	    line-height: 150px;
	    margin-bottom: 3rem;
	}
}

.splash__content p{
	max-width: var(--width-tight);
	margin-left: auto;
	margin-right: auto;
}

.splash__content *:first-child{
	margin-top: 0;
}

.splash__content *:last-child{
	margin-bottom: 0;
}
