html{
	--splash-height:100vh;
}

.modular--splash{
	overflow: hidden;
	min-height: var(--splash-height);
}

.splash--header{
	margin-top: calc(var(--nav-height)*-1);
}

.splash__image,
.splash__video{
	position: absolute;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	z-index: 1001;
	border-radius: 0;
}

.splash__veil{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #313131;
	z-index: 1002;
}

.splash__content-ctn{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	padding-top: var(--rhythm);
	padding-bottom: var(--rhythm);
	z-index: 1003;
}

.splash__content-ctn--vtop{
	display: flex;
	align-items: flex-start;
}

.splash__content-ctn--vcenter{
	display: flex;
	align-items: center;
}

.splash__content-ctn--vbottom{
	display: flex;
	align-items: flex-end;
}

.splash__content-ctn--hleft{
	text-align: left;
}

.splash__content-ctn--hcenter{
	text-align: center;
}

.splash__content-ctn--hright{
	text-align: right;
}

.splash__content-ctn--hcenter.splash__content-ctn--vcenter{
	margin-top: -3rem;
}