.swipersc{
	width: 100%;
	margin-bottom: 2rem;
    margin-top: 2rem;
}

.swipersc .swiper-pagination-bullet{
    width: 50px;
    height: 3px;
    background-color: lightgrey;
    border-radius: 0;
    opacity: 0.3;
}

.swipersc .swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity: 1;
}