html{
	--width-tight: 600px;
	--width-site: 1200px;
	--width-full: 100%;
	--gutter: 1rem;
	--rythm: 6rem;
	--bg-color: #fff;
	--fg-color: #313131;
	--bg-color-alt: #2196f3;
	--fg-color-alt: #fff;
	--shadow-0: 0 0 0 0 rgba(0,0,0,0);
	--shadow-1: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
	--shadow-2: 0 10px 28px 0 rgba(0,0,0,.2);
	--radius-0: 0px;
	--radius-1: 4px;
	--radius-2: 8px;
	--transition-timing-1: cubic-bezier(0.19, 1, 0.22, 1); 
}

@media screen and (min-width: 735px) {
	html {
		--gutter: 2rem;
	}
}
