html{
	--width-tight: 650px;
	--width-site: 1400px;
	--width-full: 100%;
	--gutter: 1rem;
	--rhythm: 8rem;
	--bg-color: #fff;
	--fg-color: #313131;
	--bg-color-alt: #2196f3;
	--fg-color-alt: #fff;
    --nav-bg-color: transparent;
    --nav-fg-color: var(--fg-color);
    --nav-height: var(--rhythm);

	--shadow-0: 0 0 0 0 rgba(0,0,0,0);
	--shadow-1: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
	--shadow-2: 0 10px 28px 0 rgba(0,0,0,.2);
}
