html{
	--width-tight: 650px;
	--width-site: 1400px;
	--width-full: 100%;
	--gutter: 1rem;
	--rhythm: 6rem;

    --color-bg: #FFF;
	--color-fg: #313131;
	--color-hl: blue;
	--color-hl-inverted: #FFF;

	--color-nav-bg: transparent;	
	--color-nav-fg: #313131;
	--color-nav-panel-bg: transparent;
	--color-nav-panel-fg: #313131;
}

@media (min-width: 735px) {
	html{
		--rhythm: 8rem;
	}
}
