html{
	font-family: var(--font-base);
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

h1{
	font-family: var(--font-alt);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3em;
    line-height: 1.2em;
}

h2{
	font-family: var(--font-alt);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2em;
    line-height: 1.2em;
}

h3{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5em;
    line-height: 1.2em;
}

p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p em{
	font-family: var(--font-base-italic);
}

ul{
	list-style: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

ul li:before{
	content: " ";
    width: 16px;
    color: var(--bg-color-alt);
    height: 16px;
    background-image: url('../images/li.svg');
    background-position: center;
    background-size: contain;
    position: absolute;
    transform: translate(-2rem, 4px);
}

ul li{
	padding: 0 var(--gutter) 0 var(--gutter);
	margin-top: 0.5rem;
}

blockquote{
	font-family: var(--font-alt);
	font-size: x-large;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

blockquote em{
	font-family: var(--font-alt-italic);
}

p strong{
	font-family: var(--font-base-bold);
}

sup{
    font-size: xx-small;
    vertical-align: super;  
}
