/*
###########################################################
REGULAR
###########################################################
*/

html{
	font-family: var(--font-base);
	font-weight: normal;
	font-size: 16px;
	line-height: 1.7;
}

h1{
	font-family: var(--font-alt);
    font-size: 3rem;
    line-height: 1.125;
    margin-top: 3rem;    
}

h2{
	font-family: var(--font-alt);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 3rem;
}

h3{
    font-family: var(--font-base);
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p{
    margin-top: 1rem;
}

p em{
	font-family: var(--font-base-italic);
}

blockquote{
	font-family: var(--font-alt);
	font-size: 2rem;
	line-height: 1.2;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

blockquote em{
	font-family: var(--font-alt-italic);
}

strong{
	font-family: var(--font-base-bold);
}

sup{
    font-size: xx-small;
    vertical-align: super;  
}

ul{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.2rem;
}

@media (min-width: 735px) {
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 2em;
    }

    blockquote{
        font-size: 2.5rem;
    }
}





/*
###########################################################
SMALL
###########################################################
*/

html .small{
    font-size: 14px;
}

.small h1,
.small h2,
.small h3,
.small p{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}





/*
###########################################################
XSMALL
###########################################################
*/

html .xsmall{
    font-size: 12px;
}

.xsmall h1,
.xsmall h2,
.xsmall h3,
.xsmall p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}





/*
###########################################################
BIG
###########################################################
*/

html .big{
    font-size: 24px;
}

.big h1,
.big h2,
.big h3,
.big p{
    margin-bottom: 2rem;
    margin-top: 2rem;
}






/*
###########################################################
HUGE
###########################################################
*/

html .huge{
    font-size: 48px;
}

.huge h1,
.huge h2,
.huge h3,
.huge p{
    margin-bottom: 2rem;
    margin-top: 2rem;
}