/*
###########################################################
REGULAR
###########################################################
*/

html{
	font-family: var(--font-base);
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
}

h1{
	font-family: var(--font-alt);
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2{
	font-family: var(--font-alt);
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

h3{
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

p{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

p em{
	font-family: var(--font-base-italic);
}

blockquote{
	font-family: var(--font-alt);
	font-size: 2rem;
	line-height: 1.2;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

blockquote em{
	font-family: var(--font-alt-italic);
}

strong{
	font-family: var(--font-base-bold);
}

sup{
    font-size: xx-small;
    vertical-align: super;  
}

ul{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.2rem;
}

@media (min-width: 735px) {
    h1{
        font-size: 4em;
    }

    blockquote{
        font-size: 2.5rem;
    }
}

/*
###########################################################
SMALL
###########################################################
*/
html .small{
    font-size: 14px;
}

html .xsmall{
    font-size: 12px;
}