html{
	font-family: var(--font-base);
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

h1{
	font-family: var(--font-alt);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3em;
    line-height: 1.2em;
}

@media (min-width: 735px) {
    h1{
        font-size: 4em;
    }
}

h2{
	font-family: var(--font-alt);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2em;
    line-height: 1.2em;
}

h3{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5em;
    line-height: 1.2em;
}

p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p em{
	font-family: var(--font-base-italic);
}

blockquote{
	font-family: var(--font-alt);
	font-size: 2em;
	line-height: 1.5;
	margin-top: calc(var(--rhythm)/2);
	margin-bottom: calc(var(--rhythm)/2);
}

@media (min-width: 735px) {
    blockquote{
        font-size: 2.5em;
    }
}

blockquote em{
	font-family: var(--font-alt-italic);
}

p strong{
	font-family: var(--font-base-bold);
}

sup{
    font-size: xx-small;
    vertical-align: super;  
}

ul{
    list-style-type: disc;
    list-style-position: inside;
}