.video{
	padding-left: 0;
	padding-right: 0;
	position: relative;
	z-index: 1000;
}

.video__content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: var(--fg-color);
	z-index: 1001;
}

.video__video{
	width: 100%;
	border-radius: var(--radius-1);
}
