{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'content' %}
{% set modular_class = page.header.bg_color ? 'rhythm-padding' : '' %}
	
{% set align = align|default(page.header.align ?? 'content--left') %}

{% block modular_content %}
	<div class="content__ctn site {{ align }}">{{ content }}</div>
{% endblock %}
