{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'content' %}
{% set content_position = content_position|default(page.header.content_position) %}
{% set position = position|default(page.header.position ?? 'center') %}

{%- set computed_position -%}
{%- if content_position == 'left' -%}content--left
{%- elseif content_position == 'right' -%}content--right
{%- else -%}content--center
{%- endif -%}
{%- endset -%}

{% set limit_reveal = limit_reveal|default(page.header.limit_reveal) %}

{% block modular_content %}
	<div class="content__ctn {{ computed_position }}" {% if not limit_reveal %}data-reveal{% endif %}>{{ content }}</div>
{% endblock %}
