{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'drawers' %}
{% set limit_reveal = limit_reveal|default(page.header.limit_reveal) %}

{% block modular_content %}
	<div class="drawers__ctn">
	{% for drawer in page.header.drawers %}
		<details class="drawer__detail" {% if not limit_reveal %}data-reveal=""{% endif %}>
			<summary class="noselect drawer__summary">
				<h2 class="drawer__summary__title">{{ drawer.summary }}</h2>
				<div class="material-icons drawer__summary__icon">keyboard_arrow_down</div>
			</summary>
			<div class="drawer__content fadeinfromtop animation-delay-0 animation-duration-500">{{ drawer.detail|markdown }}</div>
		</details>
	{% endfor %}
	</div>
{% endblock %}
