{% set columns = colums|default(page.header.columns) %}
{% set rows = rows|default(page.header.rows) %}

<div class="item" columns="{{ columns }}" rows="{{ rows }}" data-reveal="fadeinfrombottom delay-200 durantion-500">
	<div class="content">{{ page.content }}</div>
</div>