{% set modular_styles %}{% include '/partials/modular-theme.html.twig' %}{% endset %}

<div class="grid__item" data-reveal="" style="{{ modular_styles }}">
	<div class="grid__item__content">{{ page.content|markdown }}</div>
</div>
