{% set icon = icon|default('') %}
{% set href = href|default('') %}
{% set label = label|default('') %}
{% set class = class|default('btn--solid') %}

{# {% set slides = swiper_slides|regex_replace('(^\n?<p>|<\/p>$)','') %} #}

<div class="btn {{ class }}">
	<a href="{{ href }}">
		{{ label }}
		{% if icon %}
		<span class="material-icons">{{ icon }}</span>
		{% endif %}
	</a>
</div>