{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="default">

	{# header #}
	{% include 'partials/header-base.html.twig' with{'class': 'fadeinfrombottom delay-250 duration-1000'} %}

	{# content #}
	{% include 'partials/content.html.twig' with{'class': 'fadeinfrombottom delay-300 duration-1000', 'reveal': ''} %}

</section>
{% endblock %}
