<details class="drawer__detail" data-reveal>
	<summary class="noselect drawer__summary">
		<h{{ level }} class="drawer__summary__title">{{ title }}</h{{ level }}>
		<div class="material-icons drawer__summary__icon">keyboard_arrow_down</div>
	</summary>
	<div class="drawer__content">{{ content|markdown }}</div>
</details>
