<details class="drawer__detail">
	<summary class="noselect drawer__summary">
		<h2 class="drawer__summary__title">{{ title }}</h2>
		<div class="material-icons drawer__summary__icon">keyboard_arrow_down</div>
	</summary>
	<div class="drawer__content fadeinfromtop animation-delay-0 animation-duration-500">{{ content|markdown }}</div>
</details>
