{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}
{% set reveal = reveal|default('fadeinfrombottom delay-100 duration-500') %}
{% set modular_styles %}{% include '/partials/theme-module.html.twig' %}{% endset %}

<div class="grid__item" data-reveal="{{ reveal }}" style="{{ modular_styles }}">
	<div class="grid__item__content">{{ page.content|markdown }}</div>
</div>
