{% set bg_color = theme.marquee_bg %}
{% set fg_color = theme.marquee_fg %}

{% if theme.marquee_content %}
	<div class="marquee" style="{% if bg_color %}--bg-color:{{ bg_color }};{% endif %}{% if fg_color %}--fg-color:{{ fg_color }};{% endif %}">
	{{ theme.marquee_content|markdown }}
	</div>
{% endif %}


