{% set rhythm = rhythm|default(page.header.rhythm ?? 'rhythm') %}
{% set class = class|default('') %}
{% set style = style|default('') %}
{% set reveal = reveal|default('') %}

{% set modular_class = modular_class|default('') %}

<section class="modular {{ modular_class }} {{ rhythm }}" 
style="{% include '/partials/modular-theme.html.twig' %}" 
{% if reveal %}data-reveal="{{ reveal }}"{% endif %}>
{% block modular_content %}{% endblock %}
</section>
