{% for page in pages.children.visible %}
    {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
    <a class="nav__link {{ current_page }}" href="{{ page.url }}">{{ page.menu }}</a>
{% endfor %}
 {% if theme.snipcart_api_key %}
    <a class="snipcart-checkout nav__link">
        <div class="cart">
            <span class="material-icons cart-icon">shopping_cart</span>
            {# <span class="snipcart-items-count"></span> #}
        </div>
    </a>
{% endif %}
