{% macro main(pages, theme) %}
	{% for p in pages.children.visible %}
	    {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
	    <a class="nav__link {{ current_page }}" href="{{ p.url }}">{{ p.menu }}</a>
	{% endfor %}
	 {% if theme.snipcart_api_key %}
	    <a class="snipcart-checkout nav__link">
	        <div class="cart">
	            <span class="material-icons cart-icon">shopping_cart</span>
	            <span class="snipcart-items-count"></span>
	        </div>
	    </a>
	{% endif %}
{% endmacro %}
