<header class="header site">
	
	{# Logo #}
    <a class="header__logo landscape" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>
    <a class="header__logo portrait" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>

    {# nav desktop #}
    <nav class="header__nav landscape">
		{% include '/partials/navigation.html.twig' %}
    </nav>

    {# nav mobile #}
    <div class="mobile-nav-open portrait">
        <span class="material-icons">menu</span>
    </div>
   	<nav class="mobile-nav-panel portrait">
        <div class="mobile-nav-close">
            <span class="material-icons">close</span>
        </div>
		{% include '/partials/navigation.html.twig' %}
    </nav>

</header>
