<footer>
    <nav class="footer-nav">{% include '/partials/navigation.html.twig' %}</nav>
    <img src="{{ url('theme://images/credit.svg') }}" id="web-credit" width="25px" alt="web credit" title="HOTDOY" style="display:inline;" />
</footer>