<footer>
	<a data-reveal="scalein delay-300 duration-500" class="green-hosting-badge" href="https://whc.ca/green-powered/?aff=3153&gbid=8en" onclick="window.open(this.href, 'popupWindow', 'width=450, height=538, status=no, scrollbars=no, menubar=no'); return false;"><img src="https://s.whc.ca/badges/green-badge-8.svg" alt="Green Hosting Badge" /></a>
	<div class="copyright">Copyright © {{ "now"|date("Y") }} {{theme.org_name}} All rights reserved</div>
</footer>