<header id="site-header" class="site-header">
	
	{# Logo #}
    <a class="site-logo landscape" href="{{ base_url == '' ? '/' : base_url }}">Hotdoy</a>
    <a class="site-logo portrait" href="{{ base_url == '' ? '/' : base_url }}">Hotdoy</a>

    {# nav desktop #}
    <nav class="site-nav landscape">
		{% include '/partials/navigation.html.twig' %}
         {% if theme.snipcart_api_key %}
            <a class="snipcart-checkout nav-link">
                <div class="cart">
                    <span class="material-icons cart-icon">shopping_cart</span>
                </div>
            </a>
        {% endif %}
    </nav>

    {# nav mobile #}
    <div class="mobile-nav-open portrait">Menu</div>
    <div class="mobile-nav-panel-veil"></div>
   	<nav class="mobile-nav-panel portrait">
        <div class="material-icons mobile-nav-close">close</div>
		{% include '/partials/navigation.html.twig' %}
         {% if theme.snipcart_api_key %}
            <a class="snipcart-checkout nav-link">
                <div class="cart">
                    <span class="material-icons cart-icon">shopping_cart</span>
                    <span class="snipcart-items-count"></span>
                </div>
            </a>
        {% endif %}
    </nav>

</header>
