{% if theme.reveal_content %}
<div id="site-loader" data-reveal-initialdelay="0">
	<div class="tight placeholder">
		<img src="{{ url('theme://images/placeholder.svg') }}">
	</div>
</div>
{% endif %}

