{# 
	dependencies
	- site-loader.js
	- site-loader.css
 #}
{% set allow = uri.query('sl') ?? '1' %}

{% if allow %}
	<div id="site-loader" data-reveal-initialdelay="200"></div>
{% endif %}

