{% if theme.reveal_content %}
	{% if page.url == home_url %}
		<div id="loader" class="loader--intro" data-out="500" data-reveal-start="700">
			<div>{{ theme.site_logo ?? site.title }}</div>
		</div>
	{% else %}
		<div id="loader" class="loader--transition" data-out="0" data-reveal-start="0"></div>
	{% endif %}
{% endif %}
