<div class="swiper-container swipersc" id="swiper-{{ random() }}" data-reveal="">
	<div class="swiper-wrapper">
		{% set slides = swiper_slides|regex_replace('(^\n?<p>|<\/p>$)','') %}
   		{% for slide in slides|split('>') %}
		{% if not loop.last %}
		<div class="swiper-slide">{{- slide -}}></div>
		{% endif %}
   		{% endfor %}
	</div>
	<div class="swiper-pagination"></div>
</div>