{% extends 'partials/base.html.twig' %}
{% block content %}
<main class="page page--article-collection">

	{# header #}
	<h1 class="article-collection__title" data-reveal>{{ page.title }}</h1>

	{# description #}
	<div class="article-collection__intro" data-reveal>{{ page.content|raw }}</div>

	{# collection #}
	<section class="article-collection__list-ctn m-t_2" data-reveal="reveal transition-delay-100">
		<div class="article-collection__list" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/article-card.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>

</main>
{% endblock %}
