{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="page page--article-collection" data-reveal>

	{# header #}
	<h1 class="article-collection__title">{{ page.title }}</h1>

	{# description #}
	<div class="article-collection__intro">{{ page.content|raw }}</div>

	{# collection #}
	<section class="article-collection__grid-ctn mt">
		<div class="article-collection__grid" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/article-card.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>

</main>
{% endblock %}
