{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="page page--default">
	{% include 'modular/content.html.twig' with {'modular_margin': 'none', 'content_reveal': 'reveal'} %}
</section>
{% endblock %}
