{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="page__default">

	{# header #}
	{% include 'partials/content.html.twig' with {
		'content':'<h1>' ~ page.title ~ '</h1>',
		'align': 'content--center',
		'reveal': 'fadeinfrombottom delay-100 duration-500',
		'rhythm': 'rhythm-half'}%}

	{# content #}
	{% include 'partials/content.html.twig' with{'reveal': 'fadeinfrombottom delay-150 duration-500'} %}

</section>
{% endblock %}
