{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="default">

	{# header #}
	{% include 'partials/default-header.html.twig' with{'reveal_title': 'fadeinfrombottom delay-100 duration-500'} %}

	{# content #}
	{% include 'partials/content.html.twig' with{'reveal': 'fadeinfrombottom delay-150 duration-500'} %}

</section>
{% endblock %}