{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="page page--default">
	{% include 'modular/content.html.twig' with {'modular_margin': 'none', 'content_reveal': 'reveal'} %}
</main>
{% endblock %}
