{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="page__default">

	{# header #}
	{% include 'modular/content.html.twig' with {
		'content':'<h1>' ~ page.title ~ '</h1>',
		'align': 'content--center',
		'content_reveal': 'reveal delay-100 duration-500',
		'modular_class': 'm-t_2'}%}

	{# content #}
	{% include 'modular/content.html.twig' with {
	'content_reveal': 'reveal delay-150 duration-500'} %}

</section>
{% endblock %}
