{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="page page--default">
	{% include 'modular/content.html.twig' with {'modular_margin_top': 'mt_2', 'content_reveal': 'reveal'} %}
</main>
{% endblock %}
