{% extends 'partials/base.html.twig' %}
{% block content %}
<main class="page page--product-collection">

	{# header #}
	{% include 'modular/content.html.twig' with {
		'content': page.content|raw,
		'content_reveal': 'reveal transition-delay-100',
		'modular_margin': 'none'
	}%}

	{# Collection #}
	<section class="site m-t_2" data-reveal="reveal transition-delay-150">
		<div class="product__grid" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/product-item.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>

</main>
{% endblock %}
