{# 
Demo collection in admin expert mode
content:
    items: '@self.children'
    order:
        by: folder
        dir: asc
    pagination: true
    limit: 12
 #}
{% extends 'partials/base.html.twig' %}
{% block page_content %}
<main class="page page--product-collection">

	{# header #}
	{% include 'modular/content.html.twig' with {
		'content':'<h1>' ~ page.title ~ '</h1>' ~ page.content|raw,
		'align': 'center',
		'content_reveal': 'reveal transition-delay-100',
		'modular_class': 'm-t_2 product-collection-header'}%}

	{# Collection #}
	<section class="site m-t">
		<div class="product__grid" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/product-item.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>

</main>
{% endblock %}
