{% extends 'partials/base.html.twig' %}

{% block page_content %}
<main class="page page--product-collection">

	{# header #}
	{% include 'modular/content.html.twig' with {
		'content':'<h1>' ~ page.title ~ '</h1>',
		'align': 'center',
		'content_reveal': 'reveal transition-delay-100',
		'modular_class': 'm-t_2'}%}

	{# Collection #}
	<section class="site m-t">
		<div class="product__grid">
			{% for page in page.collection() %}
				{% include 'partials/product-item.html.twig' %}
			{% endfor %}
		</div>
	</section>

</main>
{% endblock %}
