{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="page page--product-collection" data-reveal>

	{# title #}
	<h1 class="product-collection__title">{{ page.title }}</h1>

	{# intro #}
	{% if page.content %}
	<div class="product-collection__intro">{{ page.content|raw }}</div>
	{% endif %}

	{# collection #}
	<section class="product-collection__grid-ctn mt">
		<div class="product-collection__grid" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/product-card.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>

</main>
{% endblock %}
